<div class="container text-center mt-5">

    <h1 class="display-4 fw-bold">Welcome to Class Store</h1>

    <p class="lead mt-4">
        We are committed to motivating kids to continue their activities and extracurricular growth.
        We believe that learning goes beyond the classroom, and every child has unique talents waiting to be discovered.
        Through sports, arts, music, and educational programs, we aim to inspire confidence, creativity, teamwork, and discipline.
        Our goal is to help every student stay active, engaged, and excited about developing new skills that will benefit them for life.
    </p>
    <div class="row mt-5">

        <div class="col-md-4">
            <img src="~/Content/Images/kids-sports.jpg" class="img-fluid rounded shadow" />
            <h5 class="mt-2">Sports</h5>
        </div>

        <div class="col-md-4">
            <img src="~/Content/Images/kids-art.jpg" class="img-fluid rounded shadow" />
            <h5 class="mt-2">Arts & Creativity</h5>
        </div>

        <div class="col-md-4">
            <img src="~/Content/Images/music-class.jpg" class="img-fluid rounded shadow" />
            <h5 class="mt-2">Music</h5>
        </div>



</div>
