@model ClassStore.Domain.Entities.ShippingDetails

@{
    ViewBag.Title = "Completed";
}

<h2>
    Thank you for your order, @Model.Name!!
    Your order has been successfully completed.
</h2>

<p>
    You will soon receive an email with the details of your order and a receipt.
</p>

<p>
    If you have any questions, please contact us!
    We appreciate your business and hope you enjoy your classes!
</p>
